arandr==0.1.9
click==6.7
futures==3.2.0
greenlet==0.4.14
louis==3.6.0
msgpack==0.5.6
neovim==0.2.6
pdfshuffler==0.6.0
pycairo==1.17.0
pyfiglet==0.7.5
pygobject==3.28.3
pyPdf==1.13
python-dateutil==2.7.3
six==1.11.0
termdown==1.14.1
trollius==2.2
